/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*********************************************************************/


@font-face {
    font-family: "Bonello";
    src: url(Bonello-Regular.otf);
}

@font-face {
    font-family: "Open_Sans";
    src: url(Open_Sans/OpenSans-VariableFont_wdth,wght.ttf);
}

html{
    font-size: 62.5%;
    --purple-color: #1900f5;
    --purple-color-op : rgba(169, 214, 241, 0.55);
}


.main{
   display: flex;
   width: 100%;
   height: 900px; 
}

.left-side, .right-side{
    align-items: stretch;
}

.left-side{
    background-image: url('CouverturePortfolio.jpg');
    background-repeat: repeat;
    background-attachment: fixed;  
    background-size: 100%;

    flex-basis: 400px;
    flex-shrink: 2;
    display: flex;
    flex-direction: column;
}



.left-side > div{
    margin-top: 250px; 
    background-color: var(--purple-color-op);
    color: var(--purple-color);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 15px;
}

.right-side{
    background-color: white;
    flex-basis: 800px;
    padding: 60px;
    margin: 30px 30px 30px 0;
}
.right-side > div{
    margin: 20px;
}

.right-side, #buttonCreate, .divForm {
    border-radius: 10px;
}

img{
    width: 40%;
    height: auto;
}

.divForm{
    padding: 20px 40px 30px 40px;
    background-color: var(--purple-color-op);
    box-shadow: 0px 2px 20px var(--purple-color-op);
    
}

form{
    display: flex;
    justify-content: space-between;
}

form > div > div {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

input{
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.5);
    height: 24px;
    width: 200px;
}
input:focus{
    box-shadow: 0px 0px 5px var(--purple-color);
}

 input:valid{
    border: solid 1px greenyellow;
} 

input:invalid{
    border: solid 1px red;
} 

h2, h3, label, #buttonCreate{
    font-family: Open_Sans, sans-serif;
    font-weight: 100;
}

h1{
    font-family: Bonello;
    font-size: 5.0rem;
    font-weight: bold;
    text-align: center;
}

h2{
    font-weight: 450;
}

h2, label{
    font-size: 2rem;
}

h3, #buttonCreate  {
    font-size: 1.5rem;
}

.right-side > div:last-child{
    margin-top: 40px;
}

#buttonCreate{
    background-color: var(--purple-color);
    padding: 15px 30px;
    border: none;
    margin-bottom: 20px;
    color: white;
}

#buttonCreate:hover{
    box-shadow: 2px 2px 3px var(--purple-color);
}

.logLink{
    color: var(--purple-color);
}

.logLink:hover{
    text-decoration: underline;
}

