/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*********************************************************************/

body{
    background-image: url('CouverturePortfolio.jpg');
    background-repeat: repeat;
    background-attachment: fixed;  
    background-size: 100%;
}

html{
    font-size: 62.5%;
}

.main{
   display: flex;
   width: 100%;
   height: 900px; 
}

.left-side, .right-side{
    align-items: stretch;
}

.left-side{
    flex-basis: 400px;
    flex-shrink: 2;
    display: flex;
    flex-direction: column;   
}

.left-side > div{
    margin-top: 250px;
    background-color: rgba(50, 0, 255, 0.2);
    height: 100px;
    color: blue;
}

.right-side{
    background-color: white;
    flex-basis: 800px;
    padding: 60px;
    margin: 30px 30px 30px 0;
}
.right-side > div{
    margin: 20px;
}

.right-side, #buttonCreate, .divForm {
    border-radius: 15px;
}

.divForm{
    padding: 20px 40px;
    background-color: rgba(138, 104, 238, 0.2);
    
}

form{
    display: flex;
    justify-content: space-between;
}

form > div > div {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

input{
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.5);
    height: 24px;
    width: 200px;

}

h1{
    font-size: 5.0rem;
    font-weight: bold;
    text-align: center;
}

h2, label{
    font-size: 2rem;
}

#buttonCreate{
    background-color: #8A68EE;
    padding: 15px 30px;
    border: none;
    margin-bottom: 20px;
    color: white;
}


/*ajouter des valeurs inventé avec --valeur et des valeur ::comme ca aussi
ajouter des fieltruc et des légences
et des validation en cours de route aussi avec :valid et :invalid
personnaliser le form pour qu'il soit BEAU
personaliser les msg du form eventuellement

avec tout ca on sera bien*/